.content-container2 {
  color: blue;
  margin-top: 400px;
  display: none;
  position: relative;
}

@media (max-width: 500px) {
  .content-container2 {
    display: block;
    position: relative;
    margin-top: 100px;
    margin-right: 50px;
  }
  .android-ios {
    margin-bottom: 100px;
  }
}
